######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Helm
######################
*.lock
charts/charts/
charts/emissary-apiext/charts/
charts/emissary-ingress/charts/
charts/emissary-tracing/charts/