apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.image.tag }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.image.tag }}
      version: 'v1'
  template:
    metadata:
      labels:
        app: {{ .Values.image.tag }}
        version: 'v1'
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{ .Values.image.tag }}
                topologyKey: kubernetes.io/hostname
              weight: 100
      initContainers:
        - name: init-ds
          image: busybox:latest
          command:
            - '/bin/sh'
            - '-c'
            - |
              while true
              do
                rt=$(nc -z -w 1 {{ .Values.image.tag }}-postgresql 5432)
                if [ $? -eq 0 ]; then
                  echo "DB is UP"
                  break
                fi
                echo "DB is not yet reachable;sleep for 10s before retry"
                sleep 10
              done
      containers:
        - name: "{{ .Values.image.tag }}-app"
          image: "wittman8/apnmt:{{ .Values.image.tag }}-{{ .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: prod
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://{{ .Values.image.tag }}-postgresql.{{ .Release.Namespace }}.svc.cluster.local:5432/{{ .Values.image.tag }}"
            - name: SPRING_DATASOURCE_USERNAME
              value: {{ .Values.image.tag }}
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.image.tag }}-postgresql"
                  key: postgresql-password
            - name: SPRING_LIQUIBASE_URL
              value: "jdbc:postgresql://{{ .Values.image.tag }}-postgresql.{{ .Release.Namespace }}.svc.cluster.local:5432/{{ .Values.image.tag }}"
            - name: SPRING_SLEUTH_PROPAGATION_KEYS
              value: 'x-request-id,x-ot-span-context'
            - name: JAVA_OPTS
              value: ' -Xmx256m -Xms256m'
            - name: SERVER_SHUTDOWN
              value: graceful
            {{- range $key, $val := .Values.properties }}
            - name: {{ $val.name }}
              value: {{ $val.value }}
            {{- end }}
          resources:
            requests:
              memory: '512Mi'
              cpu: '500m'
            limits:
              memory: '1Gi'
              cpu: '1'
          ports:
            - name: http
              containerPort: {{ .Values.spec.ports.targetPort }}
          readinessProbe:
            httpGet:
              path: /management/health/readiness
              port: http
            initialDelaySeconds: 20
            periodSeconds: 15
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /management/health/liveness
              port: http
            initialDelaySeconds: 120
      imagePullSecrets:
      - name: apnmtregcred
