---
apiVersion: getambassador.io/v3alpha1
kind: Mapping
metadata:
  name: {{ .Values.image.tag }}-emissary-mapping
  namespace: emissary
spec:
  hostname: "*"
  prefix: {{ .Values.emissary.prefix }}
  service: "{{ .Values.image.tag }}.{{ .Release.Namespace }}:80"
