---
apiVersion: getambassador.io/v3alpha1
kind: Mapping
metadata:
  name: {{ .Values.image.tag }}-emissary-mapping
  namespace: {{ .Release.Namespace }}
spec:
  hostname: "*"
  prefix: {{ .Values.emissary.prefix }}
  service: "{{ .Values.image.tag }}.{{ .Release.Namespace }}:80"
  bypass_auth: {{ .Values.emissary.bypass_auth | default false }}
  retry_policy:
    retry_on: "5xx"
    num_retries: 4
  circuit_breakers:
    - max_connections: 2048
      max_pending_requests: 2048
      max_retries: 4