name: Apnmt Build Helm Chart
on:
  push:
    branches:
      - '*'
      - '!master'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - uses: azure/setup-helm@v1
      - name: Build Helm Chart
        run: |
          mkdir -p repo
          cd repo
          helm package ../charts/*
          pwd
      - name: Push to repository
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: .
          destination_repo: 'apnmt/apnmt-charts'
          user_email: 'tobias.wittmann96@web.de'
          user_name: 'tobi5775'
          commit_message: 'New Chart'